{
  "presets": ["stage-2",
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    ["transform-async-generator-functions"],
    ["transform-react-jsx", {
      "pragma": "wp.element.createElement"
    }]
  ]
}