#gutenberg-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  &.hide {
    display: none;
  }

  .loading-message {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
}

.gutenberg-full-editor {
  &:not(.ready) {
    display: none;
  }
}

.layout-container {
  &.full-width {
    // margin: 0px;
  }
}

body .gutenberg {
  // position: relative;
}

body .gutenberg__editor {
  // position: absolute;
  // // min-height: calc(100vh - 88px);
  // min-height: calc(100vh);
}

body .gutenberg__editor .edit-post-layout .edit-post-sidebar {
  font-family: $editorFont;
  // font-family: inherit;
}

body .gutenberg__editor .edit-post-header {
  font-family: $editorFont;
  // font-family: inherit;
}

body .gutenberg__editor .components-popover {
  font-family: $editorFont;
}

.field--gutenberg {
  .form-item {
    & + label {
      display: none;
    }
  }

  .filter-wrapper {
    display: none;
  }
}