.edit-post-sidebar {
  background: #ececec !important;

  .components-base-control {
    padding-right: 16px;
  }

  .edit-post-sidebar-header {
    background: #ececec !important;
    height: auto;
    border: none;
  }

  .edit-post-extra-sidebar__panel {
    display: none;
  }

  button.edit-post-sidebar__panel-tab {
    color: #0074bd;
    background-color: #eeeeee;
    height: 36px;

    &.is-active {
      border-color: transparent !important;
      background-color: #ffffff;
    }
  }

  .edit-post-post-status {
    display: none;
  }

  [class^="field--"] {
    .form-item {
      padding: 10px;
    }
  }

  .editor-block-inspector__card {
    border-bottom: 1px solid #bfbfbf;
  }

  .components-panel__body {
    .components-panel__body {
      background-color: #f7f7f7;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #bfbfbf;

      .components-panel__body-title {
        button {
          font-weight: bold;
          text-transform: uppercase;
          text-shadow: 0 1px 0 white;

          &:hover {
            text-decoration: underline;
          }

          svg {
            display: none;
          }
        }
        
        .components-panel__body-toggle {

        }
      }

      &.is-opened {
        background-color: #ececec;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.125), transparent 4px);
        border-top-width: 0;
        padding-top: 17px;

        // .components-panel__body-title {
        // }
      }
    }


  }

  select {
    width: 100%;
  }
}

.gutenberg-sidebar {
  display: none;
}