body .gutenberg__editor .edit-post-layout .edit-post-header {
  position: fixed;
  font-family: inherit;
}

body .gutenberg__editor .edit-post-header__settings {
  .edit-post-pinned-plugins {
    display: none;
  }
}

body.toolbar-horizontal {
  .edit-post-sidebar {
    @media (min-width: 782px) {
      top: 134px !important; //78px;
    }
  }

  .edit-post-header {
    @media (min-width: 782px) {
      top: 78px !important;
      left: 0px !important;
    }
  }
}

body.toolbar-vertical {
  .edit-post-sidebar {
    @media (min-width: 782px) {
      top: 95px !important; //39px !important;
    }
  }

  .edit-post-header {
    @media (min-width: 782px) {
      top: 39px !important;
      left: 240px !important;
    }
  }
}
