.components-popover {
  &:not(.is-mobile) {
    &.is-left {
      .components-popover__content {
        padding-right: 20px;
      }
    }
  }
  .editor-inserter__menu {
    label {
      margin: 10px;
    }

    input[type="search"] {
      width: auto;
      margin: 5px;
    }
  }
}
